.body {
  overflow-y: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 60%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 60%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 600px) {
  div.about {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f2e;
    background-size: cover;
    background-position: center;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
  }

  div.roadmap {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    background-color: #360368;
  }

  div.faq {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-image: url("./styles/gradientTwo.jpeg");
    font-family: Copperplate;
  }

  div.team {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: #1f1f2e;
    background-size: cover;
    background-position: center;
  }

  div.title {
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
    font-family: "Copperplate";
  }

  div.subtitle {
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    font-family: "Copperplate";
  }

  div.description {
    color: var(--white);
    font-size: 10px;
    font-weight: 300;
    font-family: "Copperplate";
    line-height: 2;
  }

  div.beyond {
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
    font-family: "Copperplate";
  }

  div.countdown {
    color: white;
    font-size: 20px;
    font-family: "Monaco";
    padding: 10;
    background-color: transparent;
    font-weight: bold;
  }
}

@media screen and (min-width: 601px) {
  div.about {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    background-color: #1f1f2e;
  }

  div.roadmap {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8%;
    background-color: #360368;
  }

  div.faq {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
    background-image: url("./styles/gradientTwo.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    font-family: Copperplate;
  }

  div.team {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
    background-color: #1f1f2e;
    background-size: cover;
    background-position: center;
  }

  div.title {
    color: var(--white);
    font-size: 100px;
    font-weight: bold;
    font-family: "Copperplate";
  }

  div.subtitle {
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
    font-family: "Copperplate";
  }

  div.description {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    font-family: "Copperplate";
    line-height: 1.2;
  }

  div.beyond {
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    font-family: "Copperplate";
  }

  div.countdown {
    color: white;
    font-size: 50px;
    font-family: "Monaco";
    padding: 10;
    background-color: transparent;
    font-weight: bold;
  }
}
